#contact {
  background-color: #ffffff;
 
}


#navbarutama {
  background-color: #137623;
 
}

.jumbotron {
  padding-top : 9rem;
  
  background-color: #77d988;
}

#section {
  font:bold;
  background-color: #77d988;
}
#projects {
  background-color: #77d988;
}

#footers {
  padding: 1rem;
  background-color: #137623;
 
}